
body, html {
    margin: 0;
    padding: 0;

}

body {
    max-height: 100vh;
}

* {
    box-sizing: border-box;
}

body::-webkit-scrollbar-thumb {
    background: #333;
}
body::-webkit-scrollbar {
    width: 10px;
    
}



/* Header */

header {
    background-color: #333;
    color: white;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 30px;
    text-align: center;
}




/* Main */

main {
    display: flex;
    /* justify-content: center; */

    align-items: center;
    flex-direction: column;

}


.chatbot {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

#user_input {
    width: 100%;
    padding: 1vh;
    margin-bottom: 1vh;
    border: 2px solid #8b8b8b;
    border-radius: 10px;
    font-size: 24px;
}

#user_input:hover {
    border: 2px solid #000000;
    transition: border 0.3s;
}
#user_input:focus {
    border: 2px solid #000000;
    background-color: #bdb8dd;

    transition: all 0.3s;
    color: rgb(0, 0, 0);
    border-radius: 15px;
}

button {
    padding: 10px 20px;
    border: 2px solid #8b8b8b;
    color: black;
    background-color: #d4d4d4;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 550;
    margin: 1vh;
}

button:hover {
    background-color: #a79ed8;
    border-radius: 20px;
    border: 2px solid #000000;
    transition: all 0.3s;
}

button:active {
    background-color: #8b8b8b;
    transition: all 0.3s;
}


#clear-button:hover{
    background-color: #a84d4d;

}

#chatbox::-webkit-scrollbar-thumb {
    background: #665b4d;
    border-radius: 10px; 
}
#chatbox::-webkit-scrollbar {
    width: 10px;
}


.chat-bubble-bot {
    background-color: rgb(206, 228, 243);
    padding: 10px;
    border-radius: 10px;
    justify-self: end;
    margin: 20px;
    font-size: 24px;
    max-width: 80%;

    text-align: right;

    border: 1px solid #00000071;

    transition: all 0.3s;



}

.chat-bubble-user {
    background-color: rgb(214, 252, 213);
    padding: 10px;
    border-radius: 10px;
    justify-self: start;
    margin: 20px;
    font-size: 24px;
    max-width: 80%;

    text-align: left;

    border: 1px solid #00000071;


    transition: all 0.3s;
}

#chatbox {
    width: 90%;
    padding: 1vh;
    margin-bottom: 1vh;
    margin-top: 2vh;
    border: 2px solid #8b8b8b;
    border-radius: 10px;
    font-size: 24px;
    background-color: #eeeeee;
    height: 66vh;
    overflow-y: auto;
}


form {
    margin: 30px 10px;
}
label {
    font-size: 24px;
    margin-bottom: 3vh;
    text-align: center;
    width: 100%;
}
select {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;


    cursor: pointer;

  }

  select:focus {
    border-color: #000000;
  }
  

  option {
    padding: 10px;
    font-size: 16px;
  }
  

  



/* Footer */

footer {
    background-color: #333;
    color: white;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 11px;
}